@{
    ViewData["Title"] = "Not Found";
}
<br />
<a href='javascript:history.go(-1)'><i class="fa fa-arrow-left"></i> Voltar</a>
<p></p>
<div class="text-left">
    <img src="/images/not-found.svg" class="img-fluid" alt="...">
</div>
